ul {
    list-style: none;
    padding: 0;
}
div {
    -webkit-transition: display 2s; /* Safari */
    transition: display 2s;
}
.face {
    background-color: #29447e;
    color: #FFF;
}
.google {
    background-color: #357ae8;
    color: #FFF;
}
.anonimo {
    background-color: #46A89C;
    color: #FFF;
}
h1, h4, h3 {
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 4px #ccc;
}
.avatar {
    border-radius: 50%;
    border: 2px 2px 2px yellow;
}
button {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 4px;
    font-size: 1.3em;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    border: 1px solid transparent
}
button:hover {
    opacity: 0.8;
}
.logout {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    text-align:center;
}
.logout:hover {
    opacity: 1;
    background-color: #cccccc;
    border-color: #aaa;
}
.hide {
    display: none;
}
.login {
    background-color: #FFF;
    z-index: 1;
    box-shadow: 0 0 10px #3a3a3a;
    border-radius: 10px;
    padding: 10px;
}
.cartao {
    align-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 400px;
    padding: 10px;
    margin: -160px 0 0 -210px;
}
img {
    float: left;
    height: 100px;
}
.firelogin {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4), 1px 3px 5px rgba(0, 0, 0, .1);
}
.firelogin button {
    align-content: center;
    font-size: 1.5em;
}
.login h1 {
    text-align: left;
}
.login i {
    margin-left: 20px;;
    margin-right: 20px;
}
.firelogin p {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-align: center
}
.firelogin i {
    margin-left: 10px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
}
